.git
.gitattributes
.github
.idea
.vscode
node_modules
vendor
.env
.env.*
!.env.example
.phpunit.result.cache
phpstan.neon
rector.php
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
!bootstrap/cache/.gitignore
tests
docker-compose*.yml
source
crawl.md
